.responsive-container {
    background-color: #e70909; /* Light gray background */
    padding: 20px;
    margin: auto;
    width: 200%; /* Full width by default */
  
    /* On screens smaller than 576px (small screens), set the width to 200px */
    /* @media (max-width: 576px) {
      width: 200px;
    } */
  }
  